@import url('common.css');
#join_inner {width:1200px;height:600px;margin-left: calc(50% - 600px);margin-top:50px;margin-bottom:50px;overflow:hidden}
#joinimg {float: left;width:600px;height:600px;background: url(../img/login.jpg) no-repeat}